/******************************************************************************
 * SYSTEM - theme.css
 ******************************************************************************/

/******************************************************************************
 * hr
 ******************************************************************************/
.m-hr
{
    width:         99%; 
    height:        0px; 
    border-top:    1px solid #cccccd; 
    border-bottom: 1px solid #ffffff; 
	line-height:   0px; 
    font-size:     0px; 
	margin:        0px;
} 

/******************************************************************************
 * separator
 ******************************************************************************/
.m-separator
{
    width:       95%;
    font-size:   11px;
    padding:     2px;
	margin:      0px 0px 2px 0px;
    font-weight: normal;
} 

/******************************************************************************
 * htmlArea
 ******************************************************************************/
#m-htmlarea
{
    margin: 15px;
    width:  90%;   
} 

.m-hint
{
    background:     #fdf980;
    font:           message-box;
    font-size:      10px;
    border:         solid #c0c0c0 1px;
    color:          #000000;
    padding-left:   2px;
    padding-right:  2px;
    vertical-align: middle;
}

.m-readonly
{
    font:             caption;
    font-weight:      bold;
    color:            black;
    background-color: #cfcfcf;
    font-size:        12px;
}

input[readonly]
{
    background-color: #eaeaea;
}

.formBaseLabel
{
    height:    15px;
    font-size: 12px;
}

.m-label
{
    font:      message-box;
    font-size: 11px;
}

.m-caption
{
    font:        message-box;
    font-size:   12px;
}

.caption
{
    font:        message-box;
    font-weight: bold;
    font-size:   13px;
}

.m-label-text
{
    font:        message-box;
    font-weight: bold;
    font-size:   12px;
}

.m-text
{
    font:      message-box;
    font-size: 12px;
}

.m-text-field
{
    font:          message-box;
    font-size:     12px;
    background-color: #ffffff;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px inset #5b98d4;
    border-right:  1px inset #5b98d4;
    border-left:   1px inset #5b98d4;
    border-top:    1px inset #5b98d4;
}

.m-text-user-field
{
    padding-left:      18px;
    background-color: #ffffff;
    background-image:  url(/images/user.png);
    background-repeat: no-repeat;
    font-size:         12px;
    /*definicao das bordas dos elementos html*/
    border-bottom:     1px inset #5b98d4;
    border-right:      1px inset #5b98d4;
    border-left:       1px inset #5b98d4;
    border-top:        1px inset #5b98d4;
}

.m-text-passwd-field
{
	padding-left:      18px;
    background-color: #ffffff;
	background-image:  url(/images/keys.png);
	background-repeat: no-repeat;
    /*definicao das bordas dos elementos html*/
    border-bottom:     1px inset #5b98d4;
    border-right:      1px inset #5b98d4;
    border-left:       1px inset #5b98d4;
    border-top:        1px inset #5b98d4;
}

.m-multiline-field
{
    font:           message-box;
    font-weight:    normal;
    font-size:      12px;
	vertical-align: top;
    /*definicao das bordas dos elementos html*/
    border-bottom:  1px inset #5b98d4;
    border-right:   1px inset #5b98d4;
    border-left:    1px inset #5b98d4;
    border-top:     1px inset #5b98d4;
    background-color: #ffffff;
}

.m-combo
{
    background-color: #ffffff;
    font:          message-box;
    font-weight:   normal;
    font-size:     12px;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px inset #5b98d4;
    border-right:  1px inset #5b98d4;
    border-left:   1px inset #5b98d4;
    border-top:    1px inset #5b98d4;
}

.m-radiobutton-group
{  
    font:           message-box;
    font-weight:    normal;
    margin-top:     1px;
    margin-bottom:  1px;
    vertical-align: 20%;
    font-size:      12px;
}

.m-checkbox-group
{
    font:           message-box;
    font-weight:    normal;
    margin-top:     2px;
    margin-bottom:  1px;
    vertical-align: 20%;
    font-size:      12px;
}

.m-scrollable-label
{
    font:        message-box;
    font-weight: normal;
    font-size:   12px;
}

.m-scrollable-field
{
    background-color: #EDEDED; 
    border:           solid #c0c0c0 1px;
    overflow:         auto;
}

.m-multitext-field
{
/*   position:relative;*/
    font-size:     12px;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px inset #5b98d4;
    border-right:  1px inset #5b98d4;
    border-left:   1px inset #5b98d4;
    border-top:    1px inset #5b98d4;
    background-color: #e9e9f4;
}    

.m-multitext-field .select
{  
    font:          message-box;
    font-weight:   normal;
    font-size:     12px;
    width:         180px; 
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px inset #5b98d4;
    border-right:  1px inset #5b98d4;
    border-left:   1px inset #5b98d4;
    border-top:    1px inset #5b98d4;
}

.m-multitext-field .label
{
    font:           message-box;
    font-weight:    normal;
    margin-top:     1px;
    margin-bottom:  1px;
    vertical-align: top;
    font-size:      12px;
}

.m-multitext-field .textfield 
{  
    font:          message-box;
    font-weight:   normal;
    font-size:     12px;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px inset #5b98d4;
    border-right:  1px inset #5b98d4;
    border-left:   1px inset #5b98d4;
    border-top:    1px inset #5b98d4;
}

.m-multitext-field .combo
{  
    font:          message-box;
    font-weight:   normal;
    font-size:     12px;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px inset #5b98d4;
    border-right:  1px inset #5b98d4;
    border-left:   1px inset #5b98d4;
    border-top:    1px inset #5b98d4;
}

.m-multitext-field .button
{
    font:           message-box;
    font-weight:    normal;
    margin:         0px 5px 5px 0px;
	width:          70px;
	text-align:     center;
	vertical-align: top;
    font-size:      12px;
    /*definicao das bordas dos elementos html*/
    border-bottom:  1px outset #5b98d4;
    border-right:   1px outset #5b98d4;
    border-left:    1px outset #5b98d4;
    border-top:     1px outset #5b98d4;
}

.m-multitext-field .buttonPosH
{  
    float: left;
/*	width: 85px;*/
}

.m-multitext-field .fieldPosH
{  
    float: left;
	width: 200px;
}

.m-multitext-field .selectPosH
{  
    float: left;
}

.m-multitext-field .selection
{  
    float: left;
	width: 280px;
}

.m-multitext-field div fieldset
{  
    padding:       5px;
	border:        1px solid #cccccd;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px outset #5b98d4;
    border-right:  1px outset #5b98d4;
    border-left:   1px outset #5b98d4;
    border-top:    1px outset #5b98d4;
}

.m-filecontent
{
    background-color: #ffffff;
    font:          message-box;
    font-weight:   bold;
    font-size:     12px;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px inset #5b98d4;
    border-right:  1px inset #5b98d4;
    border-left:   1px inset #5b98d4;
    border-top:    1px inset #5b98d4;
}

.m-button
{
    background-color: #e9e9f4;
    font:          message-box;
    font-size:     12px;
    /*definicao das bordas dos elementos html*/
    border-bottom: 1px outset #5b98d4;
    border-right:  1px outset #5b98d4;
    border-left:   1px outset #5b98d4;
    border-top:    1px outset #5b98d4;
}

.m-button-find
{
    font:              message-box;
    background-image:  url(/images/button_select.png);
    background-repeat: no-repeat; 
	background-color:  #e9e9f4;
	margin-top:        1px;
    /*definicao das bordas dos elementos html*/
    border-bottom:     1px solid #9292bc;
    border-right:      1px solid #9292bc;
    border-left:       1px solid #ffffff;
    border-top:        1px solid #ffffff;
	width:             17px;
	height:            17px;
	text-align:        center;
	vertical-align:    top;
}

.m-button-close-up
{
    font:              message-box;
    background-image:  url(/images/button_close_up.gif);
    background-repeat: no-repeat; 
	width:             17px;
	height:            17px;
	text-align:        center;
	vertical-align:    top;
}

.m-button-close-down
{
    font:              message-box;
    background-image:  url(/images/button_close_down.gif);
    background-repeat: no-repeat; 
	width:             17px;
	height:            17px;
	text-align:        center;
	vertical-align:    top;
}

.m-button-minimize-up
{
    font:              message-box;
    background-image:  url(/images/button_minimize_up.gif);
    background-repeat: no-repeat; 
	width:             17px;
	height:            17px;
	text-align:        center;
	vertical-align:    top;
}

.m-button-minimize-down
{
    font:              message-box;
    background-image:  url(/images/button_minimize_down.gif);
    background-repeat: no-repeat; 
	width:             17px;
	height:            17px;
	text-align:        center;
	vertical-align:    top;
}

.m-button-help-up
{
    font:              message-box;
    background-image:  url(/images/button_help_up.png);
    background-repeat: no-repeat;
    width:             17px;
    height:            17px;
    text-align:        center;
    vertical-align:    top;
}

.m-button-help-down
{
    font:              message-box;
    background-image:  url(/images/button_help_down.png);
    background-repeat: no-repeat;
    width:             17px;
    height:            17px;
    text-align:        center;
    vertical-align:    top;
}

/******************************************************************************
 * TableRaw
 ******************************************************************************/

.m-tableraw
{
    background-color: #359;
    padding:          4px;
    font-size:        12px;
}

.m-tableraw-title
{ 
    background-color: #5b98d4;
    color:            #ffffff;
    font:             message-box;
    font-weight:      bold;
    font-size:        12px;
    text-decoration:  none;
    text-align:       center;
}

.m-tableraw-column-title
{ 
    background-color: Lavender;
    font:             message-box;
    color:            #000;
    font-weight:      bold;
    font-size:        11px;
    text-decoration:  none;
    text-align:       left;
}

.m-tableraw-row
{
    background-color: #FFF;
    font:             message-box;
    color:            #000;
    font-weight:      normal;
    font-size:        11px;
    text-decoration:  none
}

.m-tableraw-row-0
{
    background-color: #FFF;
    font:             message-box;
    color:            #000;
    font-weight:      normal;
    font-size:        11px;
    text-decoration:  none
}

.m-tableraw-row-1
{
    background-color: Lavender;
    font:             message-box;
    color:            #000;
    font-weight:      normal;
    font-size:        11px;
    text-decoration:  none
}

.m-tableraw-cell
{
}

/******************************************************************************
 * pageNavigator
 ******************************************************************************/

.m-pagenavigator
{
    background-color: #c0c0c0;
    border:           1px solid #c0c0c0;
    padding:          2px;
    font-size:        12px;
}
    
.m-pagenavigator-text
{ 	
    font:           message-box;
    vertical-align: top;
    font-size:      12px;
}
    
.m-pagenavigator-range
{ 
    font: message-box;
    font-size:      12px;
}

.m-pagenavigator-image
{
	border:         0;
    vertical-align: middle;
	width:          17px; 
	display:        inline;
}

.m-pagenavigator-selected
{ 
    font: message-box;
    color:           #900;
    font-weight:     bold;
    font-size:       11px;
    text-decoration: none;
    margin-left:     5px;
    vertical-align:  top;
}

.m-pagenavigator-link
{ 
    font: message-box;
    color:           #000000;
    font-weight:     normal;
    font-size:       11px;
    text-decoration: underline;
    vertical-align:  middle;
    margin-left:     5px;
    vertical-align:  top;
}
    
.m-pagenavigator-link:link, .m-pagenavigator-link:visited
{
    color:           #000000;
    font-weight:     normal;
    text-decoration: underline;
}

.m-pagenavigator-link:active, .m-pagenavigator-link:hover
{
    color:           #990000;
    font-weight:     normal;
    text-decoration: underline;
}

/******************************************************************************
 * Hyperlink
 ******************************************************************************/

.m-link
{ 
    font:            message-box;
    font-weight:     bold;
    font-size:       11px;
    text-decoration: underline;
}

.m-link:link
{ 
    color:           #000000;
    font-weight:     bold;
    text-decoration: underline;
    font-size:       11px;
}

.m-link:visited
{
    color:           #000000;
    font-weight:     bold;
    text-decoration: underline;
    font-size:       11px;
}

.m-link:hover
{
    color:           #990000;
    font-weight:     bold;
    text-decoration: underline;
    font-size:       11px;
}

.m-link:active
{
    color:           #990000;
    font-weight:     bold;
    text-decoration: underline;
    font-size:       11px;
}

/******************************************************************************
 * Images
 ******************************************************************************/
.m-image-centered
{
    font:          message-box;
    text-align:    center;
    margin-top:    0px;
    margin-bottom: 0px;
    padding:       0px;
}

.m-image-icon
{
    vertical-align: middle;
    margin:         2px;
    padding:        0px;
	width:          16px;
	height:         16px;
	border:         none;
}

.m-image-link
{ 
    text-decoration: none;
}

.m-image-label
{
    text-align: center;
    margin:     3px 3px 3px 3px;
    display:    block;
}

.m-image-link-label
{ 
    color:           black;
    font-weight:     normal;
    text-decoration: underline;
    font-size:       12px;
}

.m-image-link-label:link
{ 
    color:           black;
    text-decoration: underline;
}

.m-image-link-label:visited
{
    color:           black;
    text-decoration: underline;
}

.m-image-link-label:hover
{
    color:           #990000;
    text-decoration: underline;
}

.m-image-link-label:active
{
    color:           #990000;
    text-decoration: underline;
}
